*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.navegador{
background-image: linear-gradient(to bottom, grey, black);
list-style-type: none;
font-weight: bold;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}



.secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-weight: bold;
    gap: 0.5rem;
}



.home{
    color:  white
}   

.quienes-somos{
    color: white
}

.info-importante{
    color:white
}

.tienda{
    color:white
}

.contacto{
    color: white
    
    
}

.anim{
    transition: all 0.5s ease;
}

.anim:hover{
    transform: scale(1.05);
    color: greenyellow;
}




.slogan{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: black
  
}

.video-inicio{
    text-align: center;
    margin: 50px;
    padding: 80px;
}


.redes{
    display: flex;
    justify-content: center;  
    list-style-type: none;
   align-items: center;
    padding: 0 5rem;
}


.derechos{
    text-align: center;
    font-weight: bolder;
    color: black
}

.qs3{
    
    border-radius: 30px;
    filter: drop-shadow(10px 10px 4px grey);
}

.qs1{
  
    border-radius: 30px;
    filter: drop-shadow(10px 10px 4px grey);
}

.qs2{
    
    border-radius: 30px;
    filter: drop-shadow(10px 10px 4px grey);
   
}

.imagenes-qs{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 110px 150px;

}

.img-logo{
    width: 15rem;
    
    


}

.texto-qs{
    text-align: center;
    margin: 70px 60px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
     
}

.envios{
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 70px 60px;

}


.compra-minima{
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 70px 60px;

}


.talles{
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 70px 60px;

}

.conjunto-fotos-tienda-1{
    align-items: center;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
}



.img-tienda{
    border-radius: 30px;
    margin: 1.5rem 1rem;
    filter: drop-shadow(10px 10px 4px grey);
    
}

.nya{
    display: flex;


}

.tel{
    display: flex;

}

.mail{
    display: flex;

}

.texto{
    display: flex;
   

}

.formulario{
    
    margin: 90px 60px;
}

.redesic{
    padding: 1rem;

}

.grid{
    display: grid;
    grid-template-rows:1fr 1fr;
    justify-items: center;

}

.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageninicio{
    width: 15rem;
    height: auto;
    border-radius: 10px;
    

}

.grid-tienda{
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    justify-items: center;
}

@media screen and (min-width: 1440px) {
    .img-tienda{
       width: 300px;
    }
}

.botontienda{
    padding: 60px;
    align-items: center;
 
   
}