.redes{
    display: flex;
    justify-content: center;  
    list-style-type: none;
   align-items: center;
    padding: 0 5rem;
}


.derechos{
    text-align: center;
    font-weight: bolder;
    color: black
}
.redesic{
    padding: 1rem;

}