.grid{
    display: grid;
    grid-template-rows:1fr 1fr;
    justify-items: center;

}

.img-logo{
    width: 15rem;
    
    


}
.slogan{
    text-align: center;
    font-family: 'Lobster', cursive;
   
  
}


.imageninicio{
    width: 15rem;
    height: auto;
    border-radius: 10px;

    @include tamanos(5rem, 3rem);
    

}

.texto-qs{
    text-align: center;
    margin: 70px 60px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
     
}

.imagenes-qs{
    display: flex;
    align-items: center;
    justify-content: center ;
    justify-content: space-between;
    margin: 110px 150px;


    .qs1{
        border-radius: 30px;
     filter: drop-shadow(10px 10px 4px grey);
    }
    .qs2{
        border-radius: 30px;
     filter: drop-shadow(10px 10px 4px grey);
    }
    
    .qs3{
        border-radius: 30px;
        filter: drop-shadow(10px 10px 4px grey);
    }
}

// .qs1{
//     border-radius: 30px;
//  filter: drop-shadow(10px 10px 4px grey);
// }
// .qs2{
//     border-radius: 30px;
//  filter: drop-shadow(10px 10px 4px grey);
// }

// .qs3{
//     border-radius: 30px;
//     filter: drop-shadow(10px 10px 4px grey);
// }



.envios{
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 70px 60px;

}


.compra-minima{
    @extend .envios;

}


.talles{
    justify-content: center;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin: 70px 60px;

}

.conjunto-fotos-tienda-1{
    align-items: center;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;

    .img-tienda{
        border-radius: 30px;
        margin: 1.5rem 1rem;
        filter: drop-shadow(10px 10px 4px grey);
        
    }
    
}



// .img-tienda{
//     border-radius: 30px;
//     margin: 1.5rem 1rem;
//     filter: drop-shadow(10px 10px 4px grey);
    
// }

// .nya{
//     display: flex;


// }

// .tel{
//     display: flex;

// }

// .mail{
//     display: flex;

// }

// .texto{
//     display: flex;
   

// }

.formulario{
    
    margin: 90px 60px;

    .nya{
        display: flex;
        align-items: center;
    
    
    }
    
    .tel{
        display: flex;
    
    }
    
    .mail{
        display: flex;
    
    }
    
    .texto{
        display: flex;
       
    
    }
    
}

.grid-tienda{
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    justify-items: center;
}

@media screen and (min-width: 1440px) {
    .img-tienda{
       width: 300px;
    }
}

.botontienda{
    padding: 60px;
    align-items: center;
    margin: 1rem;
 
   
}

